* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
background-image: url("/Project-Yoda/assets/Yoda.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 800px;
}

.containerHeader {
    text-align: center;
    font-size: 30px;
    font-style: italic;

}

.cards-container {
    text-align: center;
    font-size: 30px;
    font-style: italic;
    
}

#search-box {
    position:absolute;
    text-align: center;
    align-items: center;
}

#search-movie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: left;
}

#result-content {
    background-color: rgba(180, 33, 33, 0);
    display: flex;
    justify-content: space-around;
}

.card {
border-radius: 10% /50%;
}
/* A Media Query max-width: 640px */
@media screen and (max-width: 640px) {
    /* Resized content to fit 640px  */
    body {
           min-width: 640px;
       }
   /* Resized main-content to fit 640px  */
   #main-container {
       position: absolute;
       left: 10%;

   }}